<!DOCTYPE html>
<html>

<head>
    <title>RANDOM-A-TRON100</title>
    <link rel="stylesheet" href="/style.css">
</head>

<header>
    <h1>RANDOM-A-TRON100</h1>
</header>

<body>
<div class="container">
    #parse( $template )
</div>
</body>

</html>